* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


:root {
  --color-red-novum:#A02C59;
  --blue-hard-color-novum:#3D51AA;
  --blue-medium-color-novum:#4C7CC6;
  --blue-light-color-novum:#6A97D8;
  --red-lettering-color:#C83873;
  --light-blue-nav:#85D6F3;
}
/* linear-gradient(to right, var(--color-red-novum) 0%,var(--red-lettering-color)  30% ,var(--blue-hard-color-novum) 60%) */
body,html {
  background: #0000008e;

}

nav {
  background:rgba(0 0 0 / .4);
  height: 60px;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:0px 10px;
}

nav h1 {
  background:linear-gradient(to right, var(--color-red-novum) 0%,var(--red-lettering-color)  30% ,var(--blue-hard-color-novum) 60%) ;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav__ul {
  list-style: none;
  display: flex;
}


.nav__li-a {
  text-decoration: none;
  color: var(--red-lettering-color);
}


.nav__li {
  padding: 5px 10px;
  border-radius: 10px;
}

.nav__li:hover  {
  background:var(--red-lettering-color);
}

.nav__li:hover > a {
  color:#fff;
}



.banner {
  width:100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.banner__box-data, .networks__box-data {
  display: flex;
  width: 95%;
  height: 80%;
  background-color: #00000070;
  border-radius: 10px;
}

.networks__box-data {
  border-radius: 0;
}

.banner__img {
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}


.banner__data {
  padding: 0px 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.banner__h2 {
  font-size: 3em;
  background:linear-gradient(to right, var(--color-red-novum) 0%,var(--red-lettering-color)  10% ,var(--blue-hard-color-novum) 30%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.banner__p {
  color:#fff;
  font-size: 1.4em;
}

.banner__networks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap:30px;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.banner__networks .network-youtube {
  font-size:4em;
  color:#bbb;
}

.banner__networks .network-facebook {
  font-size:4em;
  color:#bbb;
}

.banner__networks .network-telegram {
  font-size: 4em;
  color:#bbb;
}

.banner__network {
  transition:transform .4s ease-out;
}

.banner__network:hover {
  transform: scale(1.1);
}

.networks {
  min-height: 100vh;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

.networks__box-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: max-content;
  width: 100%;
}

.networks__box-data h2 {
  font-size: 3em;
  background:linear-gradient(to right, var(--color-red-novum) 0%,var(--red-lettering-color)  30% ,var(--blue-hard-color-novum) 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom:15px;
}

.networks__box-info {
  color:#fff;
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
}

.networks__box-info p {
  font-size: 1.4em;
  width: 100%;
  height: max-content;
}

.networks__box-links {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:30px;
  width: 100%;
  height: max-content;
  /* background: #00000031; */
  border-radius: 10px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.img-network {
  width: 50px;
  transition: transform .4s ease-out;
}

.img-network:hover {
  transform: scale(1.1);
}

.networks__box-links a {
  font-size:5em;
  color:#bbb;
}

.networks__box-video {
  grid-row: 1 / 3;
}

.video-yt {
  width: 560px;
  height: 315px;
}

/* responsive */

@media only screen and (max-width:1000px) {
  .banner {
    height: max-content;
    margin: 10px 0px;
  }
  .banner__box-data {
    width: 100%;
    margin:5px;
    height: max-content;
  }

  .banner__img {
    height: 300px;
    border-radius: 10px 0px 0px 10px;
  }

  .banner__data {
    height: max-content;
  }

  .networks__box-info {
    display: flex;
    flex-direction: column;
  }

  .banner__h2 {
    font-size: 1.7em;
  }

  .networks__box-info p, .banner__p {
    font-size: 1.2em;
  }

  .video-yt {
    transform: scale(.8);
  }
}

@media only screen and (max-width:900px) {
  nav {
    background: rgba(0 0 0 / .3);
  }

  .banner {
    height: max-content;
    margin: 0px;
    border-radius: 0px;
  }
  .banner__box-data {
    width: 100%;
    flex-direction: column;
    height: max-content;
    margin: 0px;
    border-radius: 0px;
  }

  .banner__img {
    height: auto;
    width: 40%;
    margin: 10px auto;
    border-radius: 10px;
  }

  .banner__data {
    height: max-content;
  }
}

@media only screen and (max-width:768px) {
  .nav__ul {
    display: none;
  }

  .networks__box-data {
    width: 100%;
  }

  .video-yt {
    margin: auto;
  }

  .img-network {
    width: 35px;
  }

  .img-network-twitter {
    width: 50px;
  }
}

@media only screen and (max-width:600px) {
  .networks__box-video {
    display: flex;
  }

  .video-yt {
    width: 100%;
    transform: scale(1);
  }

}

@media only screen and (max-width:500px) {
  .nav__h1 {
    font-size: 1em;
  }

  .networks__box-links {
    gap:10px;
  }

  .banner__img {
    height: auto;
    width: 70%;
    margin: 20px;
  }
}

@media only screen and (max-width:400px) {
  .banner__img {
    height: auto;
    width: 80%;
    margin: 20px;
  }
}